In [1]:
import pandas as pd
import yfinance as yf
import time

In [2]:
start_day = '2022-01-01'
assetList = ['BXP','C','CAG','CAH','CARR','CAT','CB', 'CBOE', 'CBRE', 'CCI']

In [3]:
def get_One_Asset(company,start_day):
    df = pd.DataFrame()
    returns = yf.Ticker(company)
    data = returns.history(period="1y",start=start_day)
    df.index=data.index
    df[company]=data.Close
    return df

In [4]:
data = pd.DataFrame() 
for company in assetList:
    asset = get_One_Asset(company,start_day)
    data = pd.concat([data,asset],axis = 1)

In [5]:
filename = 'myData.csv'
data.to_csv(filename, index=True)

In [6]:
data.head()

,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI
Date,,,,,,,,,,
2022-01-03 00:00:00-05:00,105.454582,56.940453,30.793192,49.040279,50.698128,196.558136,184.607422,124.538750,108.669998,186.721329
2022-01-04 00:00:00-05:00,108.962692,57.382622,30.919767,49.596596,51.953026,207.079254,188.628571,121.892082,110.300003,181.696915
2022-01-05 00:00:00-05:00,107.494377,56.714855,30.874559,50.275482,50.553322,208.664993,187.095337,120.689934,106.720001,169.392029
2022-01-06 00:00:00-05:00,109.727623,58.573772,30.314016,49.511730,51.644123,210.792023,190.923630,121.649727,105.709999,173.023254
2022-01-07 00:00:00-05:00,110.457382,59.358837,31.417007,51.142952,50.041710,212.881027,194.009430,120.379692,104.779999,175.027649

In [7]:
data.tail()

,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI
Date,,,,,,,,,,
2024-05-06 00:00:00-04:00,61.590000,62.810001,30.190001,98.589996,64.059998,342.100006,252.050003,182.869995,86.320000,95.919998
2024-05-07 00:00:00-04:00,60.860001,62.000000,30.719999,99.720001,64.260002,345.000000,251.949997,184.250000,86.510002,96.150002
2024-05-08 00:00:00-04:00,60.119999,62.750000,30.830000,97.440002,64.309998,344.500000,251.630005,185.500000,86.500000,97.309998
2024-05-09 00:00:00-04:00,61.430000,63.320000,30.780001,98.059998,65.239998,351.779999,254.039993,182.919998,87.440002,99.879997
2024-05-10 00:00:00-04:00,61.500000,63.529999,31.129999,99.529999,65.500000,354.790009,254.839996,181.059998,90.220001,99.510002

In [20]:
data.shape

(589, 7)